$primary: #008A91;
$primaryLight: #77AAAC;
$primaryDark: #005D62;
$primaryVeryDark: #2B5656;

$secondary: #8ec9fa;
$secondaryLight: #c4e4ff;
$secondaryDark: #5899cf;
$secondaryVeryDark: #226092;

$success: #5DB580;
$successLight: #7CCF9D;
$successDark: #3D9962;
$successVeryDark: #1f5e38;

$warning: #FCA370;
$warningLight: #FFB58C;
$warningDark: #F08A51;
$warningVeryDark: #a85d31;

$danger: #FF8989;
$dangerLight: #FFA6A6;
$dangerDark: #F26B6B;
$dangerVeryDark: #bb4545;

$info: #70A8FC;
$infoLight: #8CBAFF;
$infoDark: #5191F0;
$infoVeryDark: #2d5897;

$light: #fff;
$lightSoft: #D9D4D4;
$dark: #272C33;


$bodyBackground: #CDD6E3;
$bodyBorder: #9DB0CA;
$bodyContext: #F5F5F5;


$buttonContext: #CDD6E3;
$buttonBar: #B2C3DB;

$menuBtnContext: #E1E6EE;




.txt-light { color: $light; }
.txt-dark { color: $dark; }