module.exports = {
    smpt: {
        user: 'user_login',
        password: 'user_password',
        host: 'url_smtp_server',
        ssl: true,
        domain: 'your_domain'
    },
    server: {
        port: '3000',
        host: '0.0.0.0'
    },
    mongodb: {
        type: 'mongodb',
        protocol: 'mongodb',
        host: 'host__ip_or_url',
        port: '27017',
        database: 'your_database',
        username: 'your_user_database',
        password: 'your_password_database',
        options: {
            useUnifiedTopology: true
        },
        maxListeners: 100

    }
}